h1 {
  font-size: 2em;
  font-weight: bold;
  color: green;
}

@media screen and (min-width : 480px) {
.downloadarea {
  padding-left: 30%;
}
}

@media screen and (max-width : 478px) {
.downloadarea {
  padding-left: 15px;
}
}
